.layout
{
	width:100%;
	height:100%;
}

.layout div.left-menu
{
	width:25%;
	height:100%;
	background-color:#eee;
	display:inline-block;
	overflow:hidden;
	color:#999;
}
.layout div.left-menu div.left-menu-title
{
	text-align:center;
	padding:20px 0 20px 0;
	font-size:20pt;
}

.layout div.left-menu div.left-menu-title:before
{
	content:url("/img/logo-300_32x32x32.png");
	position:relative;
	top:5px;
	padding:10px;
}

.layout div.left-menu ul
{
	list-style:none;
	-webkit-padding-start: 0px;
}
.layout div.left-menu .item-menu
{
	list-style-image:none;
	padding:10px 0 10px 0;
	border-top:1px solid #fff;
	padding:15px;
	cursor:hand;
}
.layout div.left-menu .item-menu.active
{
	background-color:#ccc;
	color:#000;
}
.layout div.left-menu .item-menu:last-child
{
	border-bottom:1px solid #fff;
}
.layout div.left-menu .item-menu:hover
{
	background-color:#ddd;
	color:#111;
}

#main:before
{
	content:"\2605\00a0"
}
.layout div.content
{
	width:75%;
	height:100%;
	display:inline-block;
	margin-left:-2px;
	overflow:hidden;
	border-left:1px solid #ccc;
	background-color:#ddd;
}

#map
{
	width:100%;
	height:450px;
	top:0px;
	left:0px;
}
#statistic
{
	width: 250px;	
	background: #eee;		
	padding: 15px;
	margin: 15px;
}
#statistic #title
{
	margin-bottom: 10px;
	text-align: center;
}

#statistic .statistic-block
{
	margin: 0 5px 0 5px;
}

#statistic .statistic-value
{	
	font-size: 18pt;
	text-align: center;
}
.onoff-element
{
	height: auto;
	background-color: #eee;
	margin: 5px;	
	padding: 5px;
}