html,body
{
	font-family:Tahoma, serif;
	padding:0;
	margin:0;
}
.block
{
	display:block;
	width:auto;
}

.hide
{
	display:none;
}
.inline
{
	display: inline-block;
}
.rounded-5px
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#popup
{
	width: 400px;
	height: 400px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:100px;
	margin-top:-100px;
	background-color:#eee;
}

.loader-placeholder
{
	position:absolute;
	left:50%;
	top:50%;
	width:200px;
	height:200px;
	margin-left:50px;
	margin-top:-50px;
	background-color:#eee;
}


.loader-placeholder .logo-holder
{
	background-image:url('/img/logo-300_128x128x32.png');
	width:128px;
	height:128px;
	margin:20px auto;
}

.loader-placeholder .loader-holder
{
	text-align:center;
	display:block;
	width:100%;
}

.default-backcolor
{
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 14%, #b5c6d0 21%, #b5c6d0 21%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(14%,#d8e1e7), color-stop(21%,#b5c6d0), color-stop(21%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 14%,#b5c6d0 21%,#b5c6d0 21%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 14%,#b5c6d0 21%,#b5c6d0 21%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 14%,#b5c6d0 21%,#b5c6d0 21%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 14%,#b5c6d0 21%,#b5c6d0 21%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}